.timepicker-overlay{
  z-index: 10000000 !important;
}
.timepicker-backdrop-overlay{
  z-index: 10000000 !important;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Arno Pro Smbd Subhead";
}
button{
  background: #00bffe;
}
.clearfix {
  overflow: auto;
}
.container{
  margin: 0 auto;
  width: 80%;
}
.left button{
  margin-top:  3%;
  float: left;
}
.header{
  font-weight: bold;
  width: 100%;
  height: 100px;
  background: #00bffe;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-family: Georgia;
}
#inputFile{
  margin: 5%;
  float: left;
}
.body{
  background: #eee;
  margin: 0 auto;
}

.left{
  display: flex;
  margin-top: 20px;
  width: 50%;
  height: 230px;
  float: left;

}
.left .left-area{
  margin: 5%;
}
.left .right-area{
  margin: 10%;
}
.left .left-area input{
  padding: 5px;
  background: #00bffe;
}
.left .right-area h4{
  font-family: "Arno Pro Smbd Subhead";
   letter-spacing: 1px;
}
.right{
  margin-top: 20px;
  width: 50%;
  height: 500px;
  float: right;

}
.child-left{
  margin: 5%;
  width: 40%;
  height: 50px;
  float: left;
}
.child-right{

  margin: 8% 5% 5% 5%;
  width: 40%;
  height: 50px;
  float: right;
}
.child-left-2{
  float: left;
  width: 100%;
}
.child-left-2 textarea{
  margin: 0% 5% 0 5%;
  height: 100px;
  border: none;
  border-radius: 5px;
  font-family: "Arno Pro Smbd Subhead";
  width: 90%;
}
.child-left-2 button{
  width: 100px;
  margin: 2% 5% 2% 0;
  float: right;

}
textarea{
  padding-top: 10px;

}

